.about .about-title p {
    padding-top: 35%;
    /* font-size: 1.5rem; */
}

.about .about-image>img {
    padding-top: 10%;
    padding-bottom: 3rem;
    /* width: 80%; */
}

.about .about-imagestuti>img {
    padding-top: 10%;
    padding-bottom: 3rem;
    height: 70%;
}